
<div id="home-background">
  <div id="overlay">
  </div>
    <div class="row" id="abc">
      <div class="col-12 text-center text-white">
        <h1 class="logo-home mt-2">2-Do Tracker</h1>
        <p class="mt-2 mb-4">Track your to-do's and collaborate with friends, family, or co-workers to knock out large tasks together and get things DONE!</p>
        <div class="d-flex justify-content-center">
          <%= link_to "Log In", '/login', class: "w-100 btn btn-primary me-2 fw-bold" %> 
          <%= link_to "Sign Up", '/signup', class: "w-100 btn btn-secondary fw-bold" %> 
        </div>
      </div>
    </div>
</div>