$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'bootstrap/dist/css/bootstrap';

$primary: rgb(20, 134, 41);
  
@import 'bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Oswald-Regular';
  src: asset-url( 'app/assets/fonts/Oswald-Regular.ttf') format('truetype')
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  z-index: 1;
  position: static;
  bottom: 0px;
  width: 100%;
  height: 10vh;
}

.no-dec {
  text-decoration: none;
  color: initial;
}

.pad {
  min-height: 90vh ;
}

.card {
  border: 1px solid black;
}
.card:hover{
  color: initial;
}

#home-background {
  background-image: url('https://cdn.pixabay.com/photo/2018/06/20/07/33/planner-3485976_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
#overlay {
  position: relative;
  background: linear-gradient(to left, rgba(0,0,0,.6), rgba(0,0,0,1));
  height: inherit;
  width: inherit;
}

#abc {
  position: absolute;
  width: 50%;
  left: 0;
  top: 10%;
}

.logo-home {
  font-size: 64px;
}

.login-signup-form {
  // position: absolute; 
  // top: 50%; 
  // left: 50%; 
  // transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  min-width: 500px
}

// Text color for specific status
.Incomplete {
  color: orange;
} 
.In{
  color: blue;
}
.Complete{
  color: green;
}

@media(max-width: 768px) {
  .login-signup-form{
    max-width: fit-content;
  }
}

